/* Import Tailwind css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  font-family: "Poppins",sans-serif;
}

.tip{
  display: none;
}

@media screen and (max-width: 650px) {
  /* .law{
    display: none;
  } */
  .carPicture{
    width: 100%;
    /* border: 1px solid red; */
  }
  .form{
    width: 100%;
  }
  .box{
    flex-direction: column;
    height: fit-content;
  }
  .sly{
    height: 520px;
    margin-top: 80px;
    /* border: 1px solid green; */
  }
  .pa{
    display: none;
  }
  .pair{
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .tip{
    display: block;
  }
  .buttons{
    display: none;
  }
}