/* Import Tailwind css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  /* font-family: "Poppins",sans-serif; */
  background:"#00f";
  border: "2px solid red";
}
 .svgline{
    margin-top: 6px;
  }
@media (max-width: 900px) {
  
  .why-img{
    height:295px;
  }
  .svgline{
    margin-top: -6px;
  }
}


/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* slim scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* transparent track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background:#5E69F6;
  border-radius: 14px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background:#5E69F6;
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #5E69F6 transparent;
}
